# Place all your packages dependencies for ray-core, ray-serve, and rllib here
# These will be installed on the Anyscale cluster
ray[all]
torch
torchvision
tune-sklearn
jupyter
jupyterlab
tqdm
xgboost
tensorboard
transformers
mlflow
